[submodule "diffusion/SEINE"]
	path = diffusion/SEINE
	url = https://github.com/Vchitect/SEINE.git
[submodule "perception/GeoWizard"]
	path = perception/GeoWizard
	url = https://github.com/fuxiao0719/GeoWizard
